.projectsetting
  display flex
  color white
  font-size 14px
  color #4f5d83
  .moveflag
    position absolute
    width 20px
    height 20px
    z-index 100001
    border 1px dashed fuchsia
  .leftWrapper
    background-image url(/img/background/dragon.jpg)
    background-size 280px
    filter opacity(80%)
    width 280px
    padding-left 10px
    bottom 0
    top 60px
    position absolute
    .title
      line-height 40px
    .split
      height 10px
      line-height 10px
    .divided
      border-bottom 2px solid #5F82C8
      margin-bottom 10px
    .tablefields
      h3
        font-weight bold
      .rowfields
        margin-bottom 10px
      .fields
        text-align center
      .fieldsWrapper
        width 500px
        height 500px
        overflow-x hidden

    .list-container
      .tool-list
        li
          float left
          margin 0 5px 4px
          .tool-item
            display inline-block
            width 79px
            white-space nowrap
            overflow hidden
            cursor pointer
            .tool-item__name
              line-height 16px
              font-size 12px
              margin-bottom 4px
              color #93A1BA
              text-align center
            .tool-item__icon
              background-size 100% 100%
              background-repeat no-repeat
              position relative
              display inline-block
              height 44px
              width 44px
              margin 8px 16px 0
              border-radius 2px
              &.chart-line
                background-image: url('/img/tool-items/line1_a6d1650.png')
              &.chart-bar
                background-image: url('/img/tool-items/bar_ad67268.png')
              &.chart-pie
                background-image: url('/img/tool-items/pie_5d94603.png')
              &.chart-ring
                background-image: url('/img/tool-items/ring_a180e9f.png')
          :hover
            background-color #ebebeb
  .rightWrapper
    flex 1
    .editor
      position: absolute;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      bottom 0
      left: 290px
      top: 60px
      right 300px
      .editor-panel
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
        background: rgb(255, 255, 255);
        overflow: hidden;
        font-size 0
        .el-menu-demo
          background-image url(/img/background/dragon.jpg)
          filter opacity(80%)
        .editor-body
          position absolute
          left 0
          top 60px
          right 0px
          z-index 3
          bottom 0
          padding-bottom 150px
          background-color #f0f3f4
          overflow auto
          .containerWrapper
            position relative
            //background transparent
            //background-color  #808080
            //background linear-gradient(-90deg, rgba(0, 0, 0, .1) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, .1) 1px, transparent 1px)
            //background-size  20px 20px, 20px 20px
            .dashboard-background-image
              position: relative;
              width: 1920px;
              height: 1080px;
              background: rgb(0, 0, 0);
              transform: scale(0.558333, 0.558333);
              transform-origin: 0 0;
              user-select: none;
              box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
              transition: all .3s linear;
              //background url(/img/background/background-4.png) 0% 0% / 100% 100%
              //filter blur(0px)
              //opacity 0.7
         .bottom-panel
           position absolute
           bottom 0
           right 0
           z-index 3
           height 2em
           line-height 2em
           font-size 18px
           .range
             width 200px
           .number
             width 3em
             line-height: 1.15
             margin-left: .5em
           .el-icon-full-screen
             margin-left: .5em
    .css-fullconfig
      background-image url(/img/background/dragon.jpg)
      filter opacity(80%)
      position absolute
      width 300px
      top 60px
      bottom 0
      right 0
      .configheader
        line-height 60px
        padding-left 10px
      .nocontent
        position absolute
        top 50%
        left 50%
        transform: translate(-50%, -50%)
        color orange
      .content
          .tag
            margin-bottom 10px
          .setting
            margin-bottom 10px
  .sqltablefieldsdelete
    text-align center
  .fieldsWrapper::-webkit-scrollbar,.editor-body::-webkit-scrollbar
    width 5px
    height 5px
  .fieldsWrapper::-webkit-scrollbar-thumb,.editor-body::-webkit-scrollbar-thumb
    background-color rgba(150,150,150,0.8)
  .fieldsWrapper::-webkit-scrollbar-track,.editor-body::-webkit-scrollbar-track
    background-color rgba(255,255,255,0.3)

