.projectsetting
  display flex
  color white
  font-size 14px
  color #4f5d83
  .moveflag
    position absolute
    width 20px
    height 20px
    z-index 100001
    border 1px dashed fuchsia
  .leftWrapper
    background-image url(/img/background/dragon.jpg)
    background-size 280px
    filter opacity(80%)
    width 280px
    padding-left 10px
    bottom 0
    top 60px
    position absolute
    .title
      line-height 40px
    .split
      height 10px
      line-height 10px
    .divided
      border-bottom 2px solid #5F82C8
      margin-bottom 10px
    .tablefields
      h3
        font-weight bold
      .rowfields
        margin-bottom 10px
      .fields
        text-align center
    .list-container
      .tool-list
        li
          float left
          margin 0 5px 4px
          .tool-item
            display inline-block
            width 79px
            white-space nowrap
            overflow hidden
            cursor pointer
            .tool-item__name
              line-height 16px
              font-size 12px
              margin-bottom 4px
              color #93A1BA
              text-align center
            .tool-item__icon
              background-size 100% 100%
              background-repeat no-repeat
              position relative
              display inline-block
              height 44px
              width 44px
              margin 8px 16px 0
              border-radius 2px
              &.chart-line
                background-image: url('/img/tool-items/line1_a6d1650.png')
              &.chart-bar
                background-image: url('/img/tool-items/bar_ad67268.png')
              &.chart-pie
                background-image: url('/img/tool-items/pie_5d94603.png')
              &.chart-ring
                background-image: url('/img/tool-items/ring_a180e9f.png')
          :hover
            background-color #ebebeb
  .rightWrapper
    flex 1
    .css-sqdry3
      position: absolute;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      bottom 0
      left: 290px
      top: 60px
      right 300px
      .css-1qkwt59
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
        background: rgb(255, 255, 255);
        overflow: hidden;
        .el-menu-demo
          background-image url(/img/background/dragon.jpg)
          filter opacity(80%)
        .css-10ro1m
          position relative
          z-index 3
          height calc(100% - 40px)
          overflow auto
          //background transparent
          //background-color  #808080
          //background linear-gradient(-90deg, rgba(0, 0, 0, .1) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, .1) 1px, transparent 1px)
          //background-size  20px 20px, 20px 20px
          background: rgb(0, 0, 0);
          .dashboard-background-image
            width 100%
            height 100%
            position absolute
            z-index -1
            background url(/img/background/background-4.png) 0% 0% / 100% 100%
            filter blur(0px)
            opacity 0.7
    .css-fullconfig
      background-image url(/img/background/dragon.jpg)
      filter opacity(80%)
      position absolute
      width 300px
      top 60px
      bottom 0
      right 0
      .configheader
        line-height 60px
        padding-left 10px
      .nocontent
        position absolute
        top 50%
        left 50%
        transform: translate(-50%, -50%)
        color orange
      .content
          .tag
            margin-bottom 10px
          .setting
            margin-bottom 10px

