.projectsetting
  display flex
  color black
  .moveflag
    position absolute
    width 20px
    height 20px
    z-index 100001
    border 1px dashed black
  .leftWrapper
    background #F6F9FC
    width 280px
    padding-left 10px
    height 100%
    position fixed
    .title
      line-height 40px
    .split
      height 10px
      line-height 10px
    .divided
      border-bottom: 1px solid #edeff1
      margin-bottom 10px
    .tablefields
      h3
        font-weight bold;
    .list-container
      .tool-list
        li
          float left
          margin 0 5px 4px
          .tool-item
            display inline-block
            width 79px
            white-space nowrap
            overflow hidden
            cursor pointer
            .tool-item__name
              line-height 16px
              font-size 12px
              margin-bottom 4px
              color #333
              text-align center
            .tool-item__icon
              background-size 100% 100%
              background-repeat no-repeat
              position relative
              display inline-block
              height 44px
              width 44px
              margin 8px 16px 0
              border-radius 2px
              &.chart-line
                background-image: url('/img/tool-items/line1_a6d1650.png')
              &.chart-bar
                background-image: url('/img/tool-items/bar_ad67268.png')
              &.chart-pie
                background-image: url('/img/tool-items/pie_5d94603.png')
              &.chart-ring
                background-image: url('/img/tool-items/ring_a180e9f.png')
          :hover
            background-color #ebebeb
  .rightWrapper
    flex 1
    .css-sqdry3
      position: fixed;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 100%;
      left: 300px;
      top: 70px;
      width: 100%;
      .css-1qkwt59
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
        background: rgb(255, 255, 255);
        border-radius: 4px;
        overflow: hidden;
        .css-10ro1m
          position relative
          z-index 3
          height calc(100% - 40px)
          overflow auto
          transition all 0.1s linear 0s
          background transparent
          background-color  #808080
          background linear-gradient(-90deg, rgba(0, 0, 0, .1) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, .1) 1px, transparent 1px)
          background-size  20px 20px, 20px 20px
