@import "~common/stylus/variable.styl"
.panel-box
  border-radius:5px
  background:$panel-box-background
  padding:5px 10px
  .header
    display:flex
    flex-direction: row
    justify-content space-between
    background:$panel-box-background
    font-size:12px
    height:30px
    line-height:30px
    color:$panel-box-text-color
    .title
      display:inline-block
    .detail
      display:inline-block