@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1569827626101'); /* IE9 */
  src: url('../fonts//iconfont.eot?t=1569827626101#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJ4AAsAAAAABkAAAAIuAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApEWwE2AiQDCAsGAAQgBYRtBzUbhgXIrrApw71IkbbFjSFANHttBw58GeLh+cPfue+9/xt7Yr55TIqjQAKMCjMLJJ0WbYG3/Npv3xDNtOUvFlFP3+rpdue7J1jzlkmJECE0coJnqAVDmesVzG0BfPo8l9O7BlAg8wPlOOeigVEvDijQPTCKrEgibxi74AU+JtBuWlft4PJ+BisKe1UgbpLIg5WCX1FYqlVoNhws4kFDa7pLz8B99P34N44VkkZmVxxfX4Rw/MXJyK/11VVACBDQ8QYyNoFCnDfGDzUEYzS0x5vmwbFKgy+1BkZxVJ1gf51d3AkmIf+ZBN5KARI8Fn/g4Pikq4jOW44WIc8onEd0CDuP9sjLy+B3YAegzp/ZhRqC0Rd0tru1o4CPtSNvXQxzgtY9OII/IRjYVwyRbUhFEzSOJ51naGnXjgq7+/1NVQ+dNh1aDU1wtpjKkLVaJAt9Ew0dttDUahvtNlwd7zBAa4jShnVfAKHXN5JuT8h6/ZCF/ouGYf9o6o0G2l2GCzssR7K2Js9SiP4LJoGU7JrsWlw6oegh93ReFDEXpE0SwlF/WE5dUUl6iS3mMRpby8haCrwEz1GeC1ZaUgpsP7a22h0MuOlN/UAKWLNPIx6LhJDvBUoERImDydZa5fMTJPIg59EdPXXeBaIZyexopG84gLySl4N6HuUV41FkzLIYYpoooEswj+RyAlXN81IkYPXFE6KVXQNnGA+V97dXFn93CtrZmhSOLet48tpekIshAwA=') format('woff2'),
          url('../fonts/iconfont.woff?t=1569827626101') format('woff'),
          url('../fonts/iconfont.ttf?t=1569827626101') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
          url('../fonts/iconfont.svg?t=1569827626101#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-closes:before {
  content: "\e630";
}