// 颜色定义规范
$color-background = #fff
$color-background-d = rgba(236,238,245,0.1)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-editor-slider-bg = rgb(34,37,40)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

//标题定义规范
$header-background = #17427C
$header-bottom-color = rgba(0,0,0,0.2)

//导航栏定义规范
$tab-background = #17427C
$tab-text-color = rgba(255, 255, 255, 0.6)
$tab-text-active-color = rgb(255, 255, 255)
$tab-slide-background = rgba(23,66,124,0.6)
$tab-slide-border-color = #FFFFFF

//图形面板控件定义规范
$panel-box-background = #fff
$panel-box-text-color = #333333