.homepage
  padding:5px 15px
  .panel-wrapper
    margin-bottom:5px
    display:flex
    .item-left
      flex:1
      display:inline-block
      margin-left:5px
    .item-center
      flex:2
      display:inline-block
      margin-left:5px
    .item-right
      flex:1
      display:inline-block
      margin-left:5px