.panel-tool
  .item
    width 564px
    height 272px
    margin-bottom 24px
    margin-right 24px
    padding 40px
    box-sizing border-box
    background #fff
    box-shadow 0 4px 8px 0 rgba(28,31,33,.1)
    border-radius 12px
    .top
      height 160px
      display flex
      .text
        flex 1 1 auto
        .title
          font-size 24px
          color #1c1f21
          line-height 36px
          margin-bottom 8px
          font-weight 700
          text-align left
        .block
          width 32px
          height 6px
          border-radius 3px
          margin-bottom 11px
          background #ff007f!important
        .text
          font-size 14px
          color #545c63
          line-height 24px
      .img
        width 160px
        height 160px
    .bottom-wrapper
      width 564px
      height 84px
      position relative
      top -14px
      left -40px
      box-sizing border-box
      padding-left 40px
      padding-right 40px
      background-color #fff
      border-bottom-left-radius 12px
      border-bottom-right-radius 12px
      .text
        font-size 12px
        color #9199a1
        height 80px
        line-height 80px