.lk-scrollform
    position relative
    width 100%
    height 100%
    color red
    .header
        display flex
        flex-direction row
        .header-item
            flex 1
    .row
        overflow hidden
        .row-item
            display flex
            transition all 0.3s
            .col-item
                flex 1
            
    