.ui-button{
    display: flex;
    flex-direction: row;
    min-width: 100px;
    min-height: 35px;
    justify-content: center;
    align-items: center;
    background: rgb(38,129,255);
    cursor: pointer;
    i{
        font-size: 12px;
    }
    color: #fff;
    &:hover{
        background: rgba(38,129,255,0.8);
    }
}