.ui-collapse{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .ui-collapse-item{
        display: flex;
        flex-direction: column;
        width: 100%;
        .ui-collapse_header{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 40px;
            width: 100%;
            font-size: 12px;
            border-bottom: 1px solid #2c2e33;
            cursor: pointer;
        }
        .ui-collapse_body{
            display: flex;
        }
    }
}