.ui-dialog{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .dialog-mask{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 999;
    }
    .dialog-wrap{
        min-width: 500px;
        max-width: 80%;
        max-height: 555px;
        display:flex;
        flex-direction: column;
        background: rgb(48,54,64);
        z-index: 10001;
        font-size: 13px;
        .dialog-header_wrap{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 55px;
            width: 100%;
            color: #2681ff;
            border-top:2px solid rgb(86,198,255);
            padding:0 20px;
            .dialog-header_title{
                width: 100%;
            }
            i{
                transition: 0.4s;
                font-size: 20px;
                cursor: pointer;
                &:hover{
                transform: rotate(90deg) 
                }
            }
        }
        .dialog-body_wrap{
            padding:10px 20px 10px 20px;
            min-height: 300px;
            max-height: 500px;
            overflow: auto;
            color: #fff;
        }
        .dialog-footer{
            height: 20px;
        }
    }   
    &.white{
        .dialog-wrap{
            background: #fff;
        }
    }
}
