.ui-formitem{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    .ui-formitem_title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #fff;
    }
    .ui-formitem_content{
        flex: 1;
    }
}