.ui-input{
    background: rgb(28,34,43);
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#fff;
    width: 100%;
    &.focus,&:hover{
        border: 1px solid #2681ff;
    }
    input{
        background: none;
        color:#a1aeb3;
        padding-left: 10px;
        width: 100%;
    }
    .icon-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        width:50px;
    }
}