.ui-tabs{
    display: flex;
    height: 100%;
    width: 100%;
    color: #bcc9d4;
    .ui-tabs_header{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50px;
        background: rgb(25,28,33);
        .ui-tabs_navitem{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            cursor: pointer;
            &.active{
               color: rgb(37,124,245);
               border-left: 2px solid  rgb(37,124,245);
               background: rgb(20,22,26);
            }
        }
    }
    .ui-tabs_content{
        display:flex;
        width: 100%;
        background: rgb(19,22,26);
        .ui-tab-panel{
            display:flex;
            width: 100%;
            overflow: auto;
        }
    }
}