.lk-tabs__item
    height 32px
    line-height 32px
    padding 0 10px
    background #D9DEE4
    color #666
    font-size 14px
    text-align center
    display inline-block
    &.is-active
        background #546478
        color #FFFFFF
    .lk-tab-pane
        color black
    .lk-tabs__active-bar
        position absolute
        bottom 0
        left 0
        height 2px
        background-color #ff6633
        z-index 1
