.lk-tree-node
    &.is-current
        >.lk-tree-node__content,>.lk-tree-node__content:hover 
            background #fff
    .lk-tree-node__content
        height 40px
        line-height 40px
        display flex
        align-items center
    .lk-tree-node__content:hover
        background #F4F6F8
    .lk-tree-node__expand-icon
        font-size: 18px
        padding 1px 2px 4px 2px
    .lk-tree-node__isfold-icon
        padding 3px 3px 3px 0
    .lk-tree-node__expand-icon.expanded 
        transform rotate(90deg)
        padding: 1px 5px 2px 2px;
     .lk-tree-node__expand-icon.is-leaf.el-icon-caret-right:before
        content:''

        