.chart
  .delete
    color transparent
    position absolute
    z-index 100
    background transparent
    font-size 14px
    padding 3px
    cursor pointer
  .delete
    &:hover
      background #2a3866
      color white