.panel-right
  width 100%
  max-width 260px
  height 100vh
  position fixed
  top 60px
  right 0
  -webkit-box-shadow 0 0 15px 0 rgba(0,0,0,.05)
  box-shadow 0 0 15px 0 rgba(0,0,0,.05)
  background #fff
  z-index 40000
  transform translate3d(0,0,0)
  transition all .25s cubic-bezier(.7,.3,.1,1)
  &.toggle
    transform translate3d(100%,0,0)
    transition all .25s cubic-bezier(.7,.3,.1,1)
  .handle-button
    width 48px
    height 48px
    position absolute
    left -48px
    text-align center
    font-size 24px
    border-radius 6px 0 0 6px!important
    z-index 0
    pointer-events auto
    cursor pointer
    color #fff
    line-height 48px
    top 250px
    background-color rgb(214, 199, 31)