.bar
  .drawer-container
    padding 24px
    font-size 14px
    line-height 1.5
    word-wrap break-word
    .drawer-title
      margin-bottom 12px
      color rgba(0,0,0,0.85)
      font-size 14px
      line-height 22px
      font-weight bold
    .drawer-item
      color rgba(0,0,0,.65)
      font-size 14px
      padding 12px 0
      .theme-color
        float right
        height 26px
        margin -3px 8px 0px 0px
      